*,*::before,*::after {box-sizing: border-box;}
html {height:100%;}
h1,h2,h3,h4,p,ul,dl,dd,li{margin:0;padding:0;}
body{margin:0;height:100%;}
.w{width:100%;}.h{height:100%;}
.t-r{text-align:right;}.t-c{text-align:center;}
.app,.page{height:100%;}
.row{display:table;table-layout: fixed;border-collapse: collapse;}
.col{display:table-cell;}
.v-m{vertical-align:middle;}
.content.has-page{padding-bottom:40px;}
.content.has-search{padding-top:100px;}
.content.has-search .search{height:60px;margin-top:-60px;}
.content.has-page .paging{height:40px;font-size:14px;color: #666;}
.el-pagination{display:inline-block;}
.form{font-size:14px;}
.form th{font-weight:normal;text-align:right;color:#333;}
.form td{color:#666;height:40px;}
.text-btn{font-size:14px;color:#ED625C;cursor: pointer;}
.c-red{color:#E64C65;}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #eee;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #ccc;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #eee;
    -webkit-border-radius: 6px;
}