html{font-size:62.5%;}
html,body{height:100%;margin:0;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
a{text-decoration:none;}
.row{display:table;}.col{display:table-cell;}
.v-t{vertical-align:top;}.v-m{vertical-align:middle;}.v-b{vertical-align:bottom;}
.t-l{text-align:left;}.t-c{text-align:center;}.t-r{text-align:right;}
.w{width:100%;}.h{height:100%;}
.bg-gray{background:#f5f5f5;}
.mid-layout{width:1300px;margin:0 auto;}
.banner{background:url(./../img/header_bg.jpg) no-repeat center top;background-size:100% 100%;color:#fff;}
.page{height:100%;}
.header{position:fixed;top:0;left:0;width:100%;}
.logo{width:150px;height:80px;background:url(../img/logo.png) no-repeat center top;}
.nav a{text-decoration:none;color:#fff;font-size:14px;margin:0;position:relative;display:inline-block;height:50px;line-height:50px;padding:0 1em;}
.nav .router-link-active{background:rgba(0,0,0,0.1)}
.user a{font-size:24px;color:#fff;}
.banner .title{font-weight:normal;font-size:30px;font-family:"方正兰亭纤黑"}
.banner p{font-size:14px;line-height:2;font-family:"方正兰亭纤黑";margin-bottom:5em;}
.banner a{color:#fff;font-size:4em;margin:0 5px;transition:0.3s;}
.banner a:hover{opacity:0.9;}
.sub .header{background:#E82954;height:50px;}
.sub .nav{padding:0;}
.sub .logo{background:url(../img/logo.gif) no-repeat left center;height:30px;margin:0;}
.nav-content{padding-top:60px !important;}
.grid{display:block;font-size:0;padding:0;list-style:none;}
.grid-item{display:inline-block;padding:5px;box-sizing:border-box;}
.grid-5{width:20%;}
.catory{padding:10px 0 15px 0;margin-bottom:10px;border-bottom:1px solid #F0F0F0;}
.catory a{font-size:12px;color:#a2a5ae;padding:0 1em;}
.catory .router-link-active{color:#E82954;}
.view{min-height:80vh;}
