@font-face {
    font-family: "方正兰亭纤黑";
    src: url("fzltxh.eot"); /* IE9 */
    src: url("fzltxh.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("fzltxh.woff") format("woff"), /* chrome、firefox */
    url("fzltxh.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("fzltxh.svg#方正兰亭纤黑") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


